<div class="row pt-0">
    <div class="col-md-10 mx-auto">
        <div class="card rounded-5">

		<div class="containr-fluid"> <!--full screen ocupation we use fluid-->
			<mat-toolbar color="accent" class="justify-content-center">
				<div class="mat-header">Sign Up</div>
			</mat-toolbar>
		</div>

			<div class="container">
				<form (submit)="onSubmit()" [formGroup]="registrationData">
					<input type="hidden" formControlName="_id" >

					
        
              
					<mat-form-field color="primary" appearance="outline" style="width:80%;">
						<mat-label>First Name </mat-label>
						<input matInput type="text"  formControlName="firstName">
						<mat-error>This field is required</mat-error>
					</mat-form-field>
				

				

						<mat-form-field color="warn" appearance="outline" style="width:80%;">
							<mat-label>Last Name </mat-label>
							<input matInput type="text"  formControlName="lastName">
							<mat-error>This field is required</mat-error>
						</mat-form-field>
	

						<mat-form-field color="warn" appearance="outline" style="width:80%;">
							<mat-label>Date Of Birth </mat-label>
							<input matInput type="date"  formControlName="dob">
							<mat-error>Enter Date Of Birth</mat-error>
						</mat-form-field>
	

					<mat-form-field color="warn" appearance="outline" style="width:80%;">
						<mat-label>Mail Id </mat-label>
						<input matInput type="text"  formControlName="mailId" required>
						<mat-error>Invalid Email</mat-error>
					</mat-form-field><br>


					<mat-form-field color="warn" appearance="outline" style="width:80%;">
						<mat-label>Mobile No </mat-label>
						<input matInput type="text"  formControlName="mobileNo">
					 	<mat-error *ngIf="submitted && registrationData.controls['mobileNo'].errors">
							<mat-error *ngIf="registrationData.controls['mobileNo'].errors?.['pattern']">Enter Valid 10 Digit Mobile Number</mat-error>
							<mat-error *ngIf="registrationData.controls['mobileNo'].errors?.['required']">Enter Mobile Number</mat-error>
						</mat-error>
					</mat-form-field>
	
					<br>
					<input type="password" placeholder="Password" formControlName="password">
					<div class="err" *ngIf="submitted && f['password'].errors">
						<div *ngIf="f['password'].errors.required">Password Is Required</div>
						<div *ngIf="f['password'].errors.minlength">Password At Least 6 chars</div>
					</div>
					
					<input type="password" placeholder="Confirm Password" formControlName="confirmpwd">
					<div class="err" *ngIf="submitted && f['confirmpwd'].errors">
						<div *ngIf="f['confirmpwd'].errors.required">Confirm Password Is Required</div>
						<div *ngIf="f['confirmpwd'].errors.mustMatch">Confirm Password Not Matched</div>
					</div>
					<br>
					<div class="text-center">
						<button type="submit">Submit</button>
					</div>
				</form>
			</div>

</div>
</div>
</div>
